@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #123524;
    --cor-secundaria: #EFE3C2;
    --cor-terciaria: #2C8026;
    --cor-hover: #2B5528;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria: "Montserrat", serif;
}

* {
    padding: 0%;
    margin: 0%;
}


body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding-top: 2%;
    padding-left: 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color:var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color:var(--cor-hover);
}


.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo strong {
    color:var(--cor-terciaria);  
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.foto {
    width: 50%;
    border: 1rem groove var(--cor-terciaria);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 1.5rem;
    text-align: center;
}


.sobremim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.sobremim__conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.sobremim__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.sobremim__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 5%;
    }
 
    .cabecalho__menu {
        justify-content: center;     
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .sobremim {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .sobremim__conteudo {
        width: auto;
    }

@media (max-width: 480px) {

    .cabecalho__menu {
        gap: 50px;
    }
    .cabecalho__menu__link {
        font-size: 1.13rem;
    }

}
}

